body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;

}

.container{

text-align:center;
padding:40px;
color:white;

}

.subtitle{

opacity:0.8;
margin-bottom:40px;

}

.dashboard{

display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;

}

.card{

background:white;
padding:30px;
border-radius:12px;
width:300px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
color:#333;

}

input{

width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;

}

button{

width:100%;
padding:12px;
background:#4facfe;
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;

}

button:hover{

background:#00c6ff;

}

#result{

margin-top:20px;

}

.chart-box{

background:white;
padding:30px;
border-radius:12px;
width:500px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
color:#333;

}